.cta_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-self: center;
  width: 90%;
  height: 600px;
  background-color: $dark-primary-color;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
  margin-bottom: 100px;
  scroll-margin-top: 9rem;

  &_text {
    grid-area: 1 / 1 / 2 / 2;
  }

  &_form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 5fr 1fr;
    width: 90%;
    height: 90%;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;

    &_text {
      grid-area: 1 / 1 / 2 / -1;
      width: 93%;
      height: 60px;
      background: $default-primary-color;
      border-radius: 10px;
      margin: 0 auto;

      h3 {
        text-align: center;
        line-height: 1.5;
        color: #fff;
      }
    }

    & > .form_btn {
      grid-area: 5 / 3 / -1 / -1;
      border-radius: 10px;
      background-color: $light-primary-color;
      height: 50px;
      width: auto;
      margin: -20px 20px 0 0;
      border: none;
      transition: all 0.2s;
      font-family: inherit;
      font-size: 2rem;
      color: $text-secondary-color;

      &:hover {
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }

      &:active {
        transform: translateY(0px);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
      }

      &:focus {
        outline: none;
      }
    }

    & > .form_input {
      border-radius: 10px;
      background-color: $light-primary-color;
      font-size: 1.5rem;
      height: 50px;
      width: auto;
      margin: 0 20px 0 20px;
      border: none;
      letter-spacing: 1.5px;
      padding-left: 20px;
      padding-right: 20px;

      &:focus {
        outline: none;
      }

      &-fn {
        grid-area: 2 / 1 / 3 / 3;

        &::placeholder {
          font-family: $font-primary;
          opacity: 0.7;
        }
      }
      &-ln {
        grid-area: 2 / 3 / 3 / -1;

        &::placeholder {
          font-family: $font-primary;
          opacity: 0.7;
        }
      }
      &-em {
        grid-area: 3 / 1 / 4 / -1;

        &::placeholder {
          font-family: $font-primary;
          opacity: 0.7;
        }
      }
      &-ms {
        padding-top: 10px;
        grid-area: 4 / 1 / 5 / -1;
        height: 90%;
        vertical-align: top;

        &::placeholder {
          text-align: center;
          font-family: $font-primary;
          display: none;
          opacity: 0.7;
        }
      }
    }
  }
}
