.testimonials_container {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 80%;
  height: 600px;
  gap: 30px;
  scroll-margin-top: 11rem;

  &_testimonial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5fr;
    width: 90%;
    height: 100%;
    border-radius: 10px;

    & > p {
      margin-top: 90px;
      font-size: 2.5rem;
    }

    &--1 {
      grid-area: 1 / 1 / -1 / 2;
      align-items: center;
      z-index: 1;
      position: relative;

      h4,
      small {
        grid-area: 1 / 2 / 2 / -1;
        // font-size: 1.5rem;
        transform: translateY(-50%);
        margin-left: 40px;
        position: absolute;
        top: 100px;
      }

      small {
        transform: translateY(50%);
      }

      &_img--1 {
        grid-area: 1 / 1 / 2 / 2;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid $text-primary-color;
        margin: 15px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &--2 {
      grid-area: 1 / 2 / -1 / 3;
      align-items: center;
      z-index: 1;
      position: relative;

      h4,
      small {
        grid-area: 1 / 2 / 2 / -1;
        transform: translateY(-50%);
        margin-left: 40px;
        position: absolute;
        top: 100px;
      }

      small {
        transform: translateY(50%);
      }

      &_img--2 {
        grid-area: 1 / 1 / 2 / 2;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid $text-primary-color;
        margin: 15px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &--3 {
      grid-area: 1 / 3 / -1 / -1;
      align-items: center;
      z-index: 1;
      position: relative;

      h4,
      small {
        grid-area: 1 / 2 / 2 / -1;
        transform: translateY(-50%);
        margin-left: 40px;
        position: absolute;
        top: 100px;
      }

      small {
        transform: translateY(50%);
      }

      &_img--3 {
        grid-area: 1 / 1 / 2 / 2;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid $text-primary-color;
        margin: 15px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &_background {
      grid-area: 1 / 1 / -1 / -1;
      border-radius: 10px;
      height: 80%;
      width: 100%;
      background-color: $testimonial-bg-color;
      z-index: -1;
    }
  }

  &_text--1 {
    grid-area: 2 / 1 / 3 / -1;
    font-size: 1.7rem;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: auto;
  }
  &_text--2 {
    grid-area: 2 / 1 / 3 / -1;
    font-size: 1.7rem;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: auto;
  }
  &_text--3 {
    grid-area: 2 / 1 / 3 / -1;
    font-size: 1.7rem;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: auto;
  }
}

.testimonial_img {
  position: absolute;
  top: 0;
  left: -50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

// .testimonials_container {
//   &_testimonal-1 {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: 1fr 5fr;
//   }

//   &_testimonal_img {
//     height: 100%;
//     width: 100%;
//   }
// }
